{% extends "layouts/default.html" %}

{% block content %}

<!-- Glossary HTML Starts Here -->

 <div class="glossary_wrap">
		<div class="glossary_container">
			<h3 class="glossary_title" style="margin-top:70px"><b>Glossary</b></h3>
			<div class="glossary_inner">
				<ul>
					<li>
						<div class="thumbWrap">
							<div class="thumb">#</div>
							<div class="thumbSeperator"></div>
						</div>
						<div class="txt">
							<h4>Lorem Ipsum</h4>
							<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
						</div>
					</li>
					<li>
						<div class="thumbWrap">
							<div class="thumb">A</div>
							<div class="thumbSeperator"></div>
						</div>
						<div class="txt">
							<h4>Lorem Ipsum</h4>
							<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
						</div>
					</li>
					<li>
						<div class="thumbWrap">
							<div class="thumb">B</div>
							<div class="thumbSeperator"></div>
						</div>
						<div class="txt">
							<h4>Lorem Ipsum</h4>
							<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
						</div>
					</li>
					<li>
						<div class="thumbWrap">
							<div class="thumb">C</div>
							<div class="thumbSeperator"></div>
						</div>
						<div class="txt">
							<h4>Lorem Ipsum</h4>
							<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
						</div>
					</li>
					
						<li>
						<div class="thumbWrap">
							<div class="thumb">D</div>
							<div class="thumbSeperator"></div>
						</div>
						<div class="txt">
							<h4>Lorem Ipsum</h4>
							<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
						</div>
					</li>
					
					
					
						<li>
						<div class="thumbWrap">
							<div class="thumb">E</div>
							<div class="thumbSeperator"></div>
						</div>
						<div class="txt">
							<h4>Lorem Ipsum</h4>
							<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
						</div>
					</li>
					
					
					
						<li>
						<div class="thumbWrap">
							<div class="thumb">F</div>
							<div class="thumbSeperator"></div>
						</div>
						<div class="txt">
							<h4>Lorem Ipsum</h4>
							<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
						</div>
					</li>
					
					
						<li>
						<div class="thumbWrap">
							<div class="thumb">G</div>
							<div class="thumbSeperator"></div>
						</div>
						<div class="txt">
							<h4>Lorem Ipsum</h4>
							<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
						</div>
					</li>
					
					
						<li>
						<div class="thumbWrap">
							<div class="thumb">H</div>
							<div class="thumbSeperator"></div>
						</div>
						<div class="txt">
							<h4>Lorem Ipsum</h4>
							<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
						</div>
					</li>
					
					
						<li>
						<div class="thumbWrap">
							<div class="thumb">I</div>
							<div class="thumbSeperator"></div>
						</div>
						<div class="txt">
							<h4>Lorem Ipsum</h4>
							<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
						</div>
					</li>
					
					
						<li>
						<div class="thumbWrap">
							<div class="thumb">J</div>
							<div class="thumbSeperator"></div>
						</div>
						<div class="txt">
							<h4>Lorem Ipsum</h4>
							<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
						</div>
					</li>
					
					
						<li>
						<div class="thumbWrap">
							<div class="thumb">K</div>
							<div class="thumbSeperator"></div>
						</div>
						<div class="txt">
							<h4>Lorem Ipsum</h4>
							<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
						</div>
					</li>
					
						<li>
						<div class="thumbWrap">
							<div class="thumb">L</div>
							<div class="thumbSeperator"></div>
						</div>
						<div class="txt">
							<h4>Lorem Ipsum</h4>
							<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
						</div>
					</li>
					
					
					
						<li>
						<div class="thumbWrap">
							<div class="thumb">M</div>
							<div class="thumbSeperator"></div>
						</div>
						<div class="txt">
							<h4>Lorem Ipsum</h4>
							<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
						</div>
					</li>
					
					
					
						<li>
						<div class="thumbWrap">
							<div class="thumb">N</div>
							<div class="thumbSeperator"></div>
						</div>
						<div class="txt">
							<h4>Lorem Ipsum</h4>
							<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
						</div>
					</li>
					
					
						<li>
						<div class="thumbWrap">
							<div class="thumb">O</div>
							<div class="thumbSeperator"></div>
						</div>
						<div class="txt">
							<h4>Lorem Ipsum</h4>
							<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
						</div>
					</li>
					
					
						<li>
						<div class="thumbWrap">
							<div class="thumb">P</div>
							<div class="thumbSeperator"></div>
						</div>
						<div class="txt">
							<h4>Lorem Ipsum</h4>
							<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
						</div>
					</li>
					
						<li>
						<div class="thumbWrap">
							<div class="thumb">Q</div>
							<div class="thumbSeperator"></div>
						</div>
						<div class="txt">
							<h4>Lorem Ipsum</h4>
							<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
						</div>
					</li>
					
					
						<li>
						<div class="thumbWrap">
							<div class="thumb">R</div>
							<div class="thumbSeperator"></div>
						</div>
						<div class="txt">
							<h4>Lorem Ipsum</h4>
							<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
						</div>
					</li>
					
					
						<li>
						<div class="thumbWrap">
							<div class="thumb">S</div>
							<div class="thumbSeperator"></div>
						</div>
						<div class="txt">
							<h4>Lorem Ipsum</h4>
							<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
						</div>
					</li>
					
					
						<li>
						<div class="thumbWrap">
							<div class="thumb">T</div>
							<div class="thumbSeperator"></div>
						</div>
						<div class="txt">
							<h4>Lorem Ipsum</h4>
							<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
						</div>
					</li>
					
					
						<li>
						<div class="thumbWrap">
							<div class="thumb">U</div>
							<div class="thumbSeperator"></div>
						</div>
						<div class="txt">
							<h4>Lorem Ipsum</h4>
							<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
						</div>
					</li>
					
					
						<li>
						<div class="thumbWrap">
							<div class="thumb">V</div>
							<div class="thumbSeperator"></div>
						</div>
						<div class="txt">
							<h4>Lorem Ipsum</h4>
							<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
						</div>
					</li>
					
					
						<!-- <li>
						<div class="thumbWrap">
							<div class="thumb">W</div>
							<div class="thumbSeperator"></div>
						</div>
						<div class="txt">
							<h4>Lorem Ipsum</h4>
							<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
						</div>
					</li> -->
					
					
						<li>
						<div class="thumbWrap">
							<div class="thumb">X</div>
							<div class="thumbSeperator"></div>
						</div>
						<div class="txt">
							<h4>Lorem Ipsum</h4>
							<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
						</div>
					</li>
					
					
						<li>
						<div class="thumbWrap">
							<div class="thumb">Y</div>
							<div class="thumbSeperator"></div>
						</div>
						<div class="txt">
							<h4>Lorem Ipsum</h4>
							<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
						</div>
					</li>
					
					
						<li>
						<div class="thumbWrap">
							<div class="thumb">Z</div>
							<div class="thumbSeperator"></div>
						</div>
						<div class="txt">
							<h4>Lorem Ipsum</h4>
							<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
						</div>
					</li>
					
					
				 
					
					
				</ul>
				<ol>
					<li>A</li>
					<li>B</li>
					<li>C</li>
					<li>D</li>
					<li>E</li>
					<li>F</li>
					<li>G</li>
					<li>H</li>
					<li>I</li>
					<li>J</li>
					<li>K</li>
					<li>L</li>
					<li>M</li>
					<li>N</li>
					<li>O</li>
					<li>P</li>
					<li>Q</li>
					<li>R</li>
					<li>S</li>
					<li>T</li>
					<li>U</li>
					<li>V</li>
					<!-- <li>W</li> -->
					<li>X</li>
					<li>Y</li>
					<li>Z</li>
				</ol>
			</div>
		</div>
	</div>
 
<!-- Glossary HTML Ends Here -->

{% endblock %}

{% block scripts %}

<!-- <script src="/javascripts/jquery.mobile-1.4.5.min.js"></script>

<script>
    // scroll left menu fixed
    
    var fixmeTop = $('.sort-wrap').length ? $('.sort-wrap').offset().top:0;

    $(window).scroll(function() {
        var currentScroll = $(window).scrollTop();
        if (currentScroll >= fixmeTop) {
            alert(fixmeTop)
            $('.sort-wrap').addClass('side-menu-fix');
        } else {
            $('.sort-wrap').removeClass('side-menu-fix');
        }
    });


    $(window).load(function() {
        $('.sort-list li a').click(function() {
            var target = $(this.hash);
            if (target.length == 0) target = $('a[href="' + this.hash.substr(1) + '"]');
            if (target.length == 0) target = $('html');
            $('html, body').animate({ scrollTop: target.offset().top-50 }, 1000);
            return false;
        });
    });


$(".theme-change").click(function(){
  alert("The paragraph was clicked.");
});


</script> -->

{% endblock %}